{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="login-page">
    <div class="login-card">
        <h2 class="text-center mb-4">🔐 Connexion</h2>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="alert alert-info mb-3">
                Connecté en tant que {{ app.user.userIdentifier }} —
                <a href="{{ path('app_logout') }}" class="text-decoration-underline">Se déconnecter</a>
            </div>
        {% endif %}

        <form method="post">
        <div class="mb-3">
        <label for="inputEmail" class="form-label">Adresse e-mail</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        </div>

        <div class="mb-3">
        <label for="inputPassword" class="form-label">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>

         <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" name="_remember_me" id="remember_me">
        <label class="form-check-label" for="remember_me">
            Se souvenir de moi
        </label>
        </div>

        <div class="d-grid">
        <button type="submit" class="btn btn-vert w-100">Connexion</button>
    </div>
</form>


        <div class="text-center mt-3">
            <a href="{{ path('app_register') }}">Pas encore de compte ? Inscris-toi</a>
        </div>
    </div>
</div>
{% endblock %}

